---
import Layout from '../layouts/Layout.astro'
import facebookLogo from '../../public/facebook.svg'
import twitterLogo from '../../public/twitter.svg'
import instagramLogo from '../../public/instagram.svg'
import emailIcon from '../../public/email-icon.svg'
import phoneIcon from '../../public/phone-icon.svg'
import { Image } from "astro:assets";


const web3Key = import.meta.env.PUBLIC_WEB_3_FORM_ACCESS_KEY;
---

<Layout title="Food Truck Website">
	<main class="text-dark-text-color lg:flex lg:mb-72 xl:mb-52 xl:ml-56 xl:mt-32 mt-10">
		<div class="bg-saturated-yellow-bg lg:h-64 lg:mt-2 md:mx-auto md:w-72 mx-6 lg:py-10 py-5 pl-8 mb-10">
			<div class="pb-3">
				<h2 class="font-semibold text-lg">Contact Info</h2>
			</div>
			<div class="pb-2">
				<div class="flex">
          <Image src={phoneIcon} alt='Phone icon' />
          <p class='ml-2'>555-555-5555</p>
        </div>
			</div>
			<div class="pb-2">
				<div class="flex">
          <Image src={emailIcon} alt='Email icon' />
          <p class='ml-2'>example@email.com</p>
        </div>
			</div>
			<div>
				<h3 class="font-semibold pb-3">Socials</h3>
        <div class="flex">
          <div><a href="/"><Image src={instagramLogo} alt='Instagram logo' class='h-7 w-7' /></a></div>
          <div class="pl-3"><a href="/"><Image src={facebookLogo} alt='Instagram logo' class='h-7 w-7' /></a></div>
          <div class="pl-3"><a href="/"><Image src={twitterLogo} alt='Instagram logo' class='h-7 w-7' /></a></div>
        </div>
			</div>
		</div>
		<div class="mx-6 md:mx-auto md:w-500px xl:w-1/2">
			<div class="mb-5">
				<h2 class="text-center font-bold text-xl mb-2 lg:text-left">Contact Us</h2>
				<p class="text-center font-light lg:text-left">Please send us a review or reach out to us if you want to book us!</p>
			</div>
			<div class="mb-10">
				<form
					action="https://api.web3forms.com/submit"
					method="POST"
					id="form"
					class="needs-validation"
					data-astro-reload
					novalidate>

					<input type="hidden" name="access_key" value={web3Key}>
					<input type="hidden" name="subject" value="New Submission from Web3Forms">
					<input type="checkbox" name="botcheck" class="hidden" style="display: none;">

					<input class="mb-4 w-full xl:w-2/3 h-8 border-solid border border-dark-text-color pl-2" type="text" placeholder="Email" required>

					<textarea class="w-full xl:w-2/3 border-solid border border-dark-text-color pl-2 mb-3" name="info" id="infobox" cols="30" rows="5" placeholder="Please let us know what you need" required></textarea>

					<button type="submit" class="block w-full lg:w-24 bg-saturated-yellow-bg text-offwhite-text-color py-2">Send</button>

					<div id="result"></div>
				</form>
			</div>
		</div>
	</main>
</Layout>

<script is:inline>
  // astro:page-load to support view Transitions.
  // use DOMContentLoaded event if you are not using View Transitions

  document.addEventListener(
    "astro:page-load",
    () => {
      const form = document.getElementById("form");
      const result = document.getElementById("result");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        form.classList.add("was-validated");
        if (!form.checkValidity()) {
          form.querySelectorAll(":invalid")[0].focus();
          return;
        }
        const formData = new FormData(form);
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);

        result.innerHTML = "Sending...";

        fetch("https://api.web3forms.com/submit", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: json,
        })
          .then(async (response) => {
            let json = await response.json();
            if (response.status == 200) {
              result.classList.add("text-green-500");
              result.innerHTML = json.message;
            } else {
              console.log(response);
              result.classList.add("text-red-500");
              result.innerHTML = json.message;
            }
          })
          .catch((error) => {
            console.log(error);
            result.innerHTML = "Something went wrong!";
          })
          .then(function () {
            form.reset();
            form.classList.remove("was-validated");
            setTimeout(() => {
              result.style.display = "none";
            }, 5000);
          });
      });
    },
    { once: true },
  );
</script>